.time {
    text-align: center;
    padding: 32px;
    position: relative;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.time .personagens {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.input-color {
    height: 25px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
    border: none;
}